@using dieuhoanhapkhau.biz.Models
@using dieuhoanhapkhau.biz.Services
@using idocNet.Core.Extensions
@model Orders
@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li><a href="@Url.Action("Admin", "Account")">Dashboard</a></li>
            <li><a href="@Url.Action("Search", "Orders")">Danh sách đơn hàng</a></li>
            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <li class="active">Edit @Model.OrderId</li>
            }
            else
            {
                <li class="active">Tạo mới đơn hàng</li>
            }
        </ul>

    </div>

    <div class="page-content">


        <div class="page-header">

            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <h1>
                    Sửa danh mục đơn hàng id @Model.OrderId

                </h1>
            }
            else
            {
                <h1>
                    Tạo mới đơn hàng

                </h1>
            }

        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
                            {
                                @Html.HiddenFor(mbox => mbox.OrderId)
                                @Html.HiddenFor(mbox => mbox.ToTalMoney)
                                @Html.HiddenFor(mbox => mbox.Note)
                            }
                            
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="HtmlPageTitle">Ghi chú:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="Note" id="Note" class="col-xs-12 col-sm-6" value="@Model.Note" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                               
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="IsActive">Trạng thái: </label>
                                <div class="col-xs-12 col-sm-6">
                                    <select class="" name="IsActive" id="IsActive">
                                        
                                        <option value="0">Chưa giao</option>
                                        <option value="1">Đang giao</option>
                                        <option value="2">Đã giao</option>
                                    </select>
                                </div>
                                
                           </div>
                            <input type="submit" class="btn btn-success" value="Lưu" />
                        }
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<script type="text/javascript">
    $('textarea[class*=autosize]').autosize({ append: "\n" });
    $('textarea.limited').inputlimiter({
        remText: '%n character%s remaining...',
        limitText: 'max allowed : %n.'
    });
</script>

<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("Update", "Orders")');
</script>