@using dieuhoanhapkhau.biz.Models
@model Location
@{
    ViewBag.Title = Model.LocationName;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var locationdiscount = ViewBag.LocationDiscount as LocationDiscount;
}

<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Home</a>
            </li>
            <li><a href="@Url.Action("Admin", "Account")">Dashboard</a></li>
            <li><a href="@Url.Action("Search", "Product")">Danh sách sản phẩm</a></li>
            <li><a href="@Url.Action("LocationSearch", "Setting", new { locationdiscount=Model.LocationDiscountId})">Danh sách thuộc tính</a></li>
            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <li class="active">Sửa @Model.LocationId</li>
            }
            else
            {
                <li class="active">Tạo mới thuộc tính</li>
            }
        </ul>
        <!-- /.breadcrumb -->


    </div>

    <div class="page-content">


        <div class="page-header">
            @if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
            {
                <h1>
                    Sửa thuộc tính id @Model.LocationId

                </h1>
            }
            else
            {
                <h1>
                    Tạo mới thuộc tính

                </h1>
            }
        </div>
        <!-- /.page-header -->
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                    <div class="col-xs-12">
                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "manageForm", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            if (ViewBag.IsEdit != null && ViewBag.IsEdit == true)
                            {
                                @Html.HiddenFor(mbox => mbox.LocationId)

                            }
                            if (locationdiscount != null)
                            {
                                <input type="hidden" value="@locationdiscount.LocationDiscountName" name="LocationDiscountName" />
                                <input type="hidden" value="@locationdiscount.LocationValue" name="LocationValue" />
                            }
                            @Html.HiddenFor(mbox => mbox.LocationDiscountId)
                            <div class="form-group">
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="ReviewTitle">Tên thuộc tính:</label>

                                <div class="col-xs-12 col-sm-10">
                                    <div class="clearfix">
                                        <input type="text" name="LocationName" id="LocationName" class="col-xs-12 col-sm-6" value="@Model.LocationName" required />
                                    </div>
                                </div>
                            </div>
                            
                            
                            <div class="form-group">
                                @{var check = Model.IsActive ? "checked" : "";}
                                <label class="control-label col-xs-12 col-sm-2 no-padding-right" for="IsActive">Trạng thái:</label>

                                <div class="checkbox">
                                    <label>
                                        <input name="IsActive" type="checkbox" class="ace" value="true" @check />

                                        <span class="lbl"> Ẩn/Hiện thuộc tính</span>
                                        <input name="IsActive" type="hidden" value="false" />
                                    </label>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-success" value="Lưu" />
                        }
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>

<script type="text/javascript">
    setAdminCurrentUrl('@Url.Action("LocationSearch", "Setting")');
</script>
